app:
    dataDirectory: acey

server:
    binding: 0.0.0.0:8100
    publicPath: http://10.0.0.3:8100 # replace with the valid server path

aceEngine:
    path: http://127.0.0.1:6878

ttvApi:
    username: username # change username
    password: password # change password
    endpoint: http://api.torrent-tv.ru

stream:
    requestTimeout: 10s
    stopDelay: 3s
    sharedBufferLength: 5s
    chunkedTransferEncoding: yes
    clientIdleTimeout: 1m
    clientMaxBufferLength: 1m
    clientResetBufferLength: 15s

logger:
    level: debug
